<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="D:\Console Applications\SilexxFileDownloader\SourcePath"/>
    <add key="DestinationPath" value="D:\Console Applications\SilexxFileDownloader\DestinationPath"/>
    <add key="LoggingPath" value="D:\Console Applications\SilexxFileDownloader\Logging"/>
  </appSettings>
</configuration>